/*
=====================================
CSS Reset
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
=====================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
=====================================
General Styling
=====================================
*/
p, ul{
	font-family: Consolas;
	color: rgb(36,204,68);
	font-size: 13.9pt;
	align-content:justify;
}
ul{
	list-style-type: square;
	padding: 10px 20px;
}
body{
	background-color: rgb(32,32,32);
}

.panel{
	font-family: Consolas, Helvetica;
	background-color: black;
	color: rgb(36,204,68);
	padding:20px 0;
	width: 70%;
	margin:auto;
	text-align:justify;
	padding: 1% 5%;
	font-size: 20pt;
}

.roundTop{
	border-top-left-radius: 50pt;
	border-top-right-radius: 50pt;
}

.roundBottom{
	border-bottom-left-radius: 50pt;
	border-bottom-right-radius: 50pt;
}

table{
	font-size: 15pt;
	margin:auto;
	border:solid 2px green;
}
thead th{
	text-align: center;
	font-weight:bold;
	border:solid 2px green;
	font-size: 20pt;
}
tbody tr td{
	text-align:justify;
	vertical-align:middle;
	border-left:solid 2px green;
	border-right:solid 2px green;
	padding:5pt;
}
a{
	color: rgb(36,204,68);
	text-decoration:none;
	font-weight: bold;
	font-size: 2em;
}

/*
=====================================
Navigation Styling
=====================================
*/

.navBar{
	font-family: Consolas, Helvetica;
	background-color: black;
	color: rgb(36,204,68);
	padding:20px 0;
	width: 100%;
}
.navBar table{
	margin: auto;
	border:none;
}

.navBar table td{
	padding:0 10px;
	border:none;
}

.navBar a{
	color: rgb(36,204,68);
	text-decoration:none;
	font-weight: bold;
	font-size: 2em;
}

.navBar a:visited{
	color: rgb(36,204,68);
}

.navBar a:hover{
	color: black;
}
/*
=====================================
Header Styling
=====================================
*/
.introduction{
	color:rgb(36,204,68);
	text-align:center;
	padding: 15pt 0;
}
.text{
	color: rgb(36,204,68);
}
h1, h2, h3{
	font-family: Consolas, Helvetica;
	color: rgb(36,204,68);
}
h1{
	font-size: 35pt;
}
h2{
	font-size: 26pt;
}
h3{
	font-size: 20pt;
}
/*
=====================================
Bio Styling
=====================================
*/
.bio ul {
	padding-left:5%;
}
/*
=====================================
Gap Styling
=====================================
*/
.gap{
	width:10px;
	height:10px;
	margin:auto;
}
/*
=====================================
Link Styling
=====================================
*/
.link a{
	font-family: Consolas, Helvetica;
	font-size: 20pt;
	font-weight: normal;
	text-decoration: underline;
	text-align: center;
	margin:auto;
}
.center{
	width:75%;
	margin:auto;
	text-align: center;
}
