/*
=====================================

CSS Reset
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)

=====================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
=====================================

General Styling

=====================================
*/
p, ul{
	font-family: Consolas;
	color: rgb(36,204,68);
	font-size: 15px;
	align-content:justify;
}
ul{
	list-style-type: square;
	padding: 10px 20px;
}
body{
	background-color: rgb(32,32,32);
}

/*
=====================================

Navigation Styling

=====================================
*/

.navBar{
	font-family: Consolas;
	background-color: black;
	color: rgb(36,204,68);
	padding:20px 0;
	width: 100%;
}
.navBar table{
	margin: auto;
}

.navBar table td{
	padding:0 10px;
}

.navBar a{
	color: rgb(36,204,68);
	text-decoration:none;
	font-weight: bold;
	font-size: 2em;
}

.navBar a:visited{
	color: rgb(36,204,68);
}

.navBar a:hover{
	color: black;
}
/*
=====================================

Header Styling

=====================================
*/
.introduction{
	color:rgb(36,204,68);
	text-align:center;
	padding: 15px 0;
}
.introduction .text{
	color: green;
}
h1, h2, h3{
	font-family: Consolas;
	color: rgb(36,204,68);
}
h1{
	font-size: 35px;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
}
/*
=====================================

Bio Styling

=====================================
*/
.bio{
	padding: 1% 5%;
	margin:auto;
	width: 75%;
	font-size: 20px;
	background-color: black;
}
/*
=====================================

Footer Styling

=====================================
*/
footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
padding: 20px 20px;
font-family: Consolas;
}
.footerNav{
	margin:auto;
}
.footerNav a{
	color: rgb(36,204,68);
	text-decoration:none;
	font-weight: bold;
}
